@keyframes neon {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        opacity: 1;
        text-shadow: 0 0 14px #FFD5FF, 0 0 20px #2CA5FE, 0 0 50px #2CA5FE;
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.2;
        text-shadow: none;
    }
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #2CA5FE;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #3051ff;
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    background-color: #001E36;
    overflow-x: hidden;

}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.6875rem;
    text-transform: uppercase;
    color: #fff;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-transform: uppercase;
    color: #fff;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #fff;
}

p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.3125rem;
    color: #fff;
}

img {
    max-width: 100%
}

.navbar {
    padding: 0rem 1rem;
}

.mobile {
    position: absolute;
    top: 160px;
    right: 38%;
    background: rgba(81, 192, 255, 0.1);
	font-size: 1.2em;
	text-shadow: 0px 0px 70px #2CA5FE;
    padding: 10px 60px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #51C0FF;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-image: linear-gradient(#30B4FF, #77CEFF);
    -moz-border-image: -moz-linear-gradient(#30B4FF, #77CEFF);
    -webkit-border-image: -webkit-linear-gradient(#30B4FF, #77CEFF);
    border-image-slice: 1;
    /*clip-path: polygon(0% 0%, 100% 0, 100% 60%, 90% 100%, 0% 100%);*/
}
.mobile img{
    padding-right: 5px;
    padding-bottom: 5px;
}
.blood {
    text-shadow: 0 0 14px #FFD5FF, 0 0 20px darkred, 0 0 50px darkred;
}

.neon {
    text-shadow: 0 0 14px #FFD5FF, 0 0 20px #2CA5FE, 0 0 50px #2CA5FE;
}

.neon-slow {
    animation: neon 6s ease-in-out infinite;
}

.neon-fast {
    animation: neon 2s linear infinite;
}

.navbar-nav {
    position: absolute;
    top: 30px;
}

.navbar-brand {
    padding-top: 15px;
}

.nav-item {
    padding-right: 15px;
}

.nav-item a:hover {
    color: #fff;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 18px 9px 15px 36px;
    color: #fff;
}

a.nav-link:hover:after {
    content: "";
    background: -webkit-linear-gradient(138.15deg, #30B4FF 16.01%, #3051FF 84.51%);
    box-shadow: 0px 0px 20px rgba(48, 180, 255, 0.6);
    display: block;
    height: 4px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 35px;
}

.nav-link.active {
    background: linear-gradient(138.15deg, #30B4FF 16.01%, #3051FF 84.51%);
    padding: 18px 9px 15px 36px;
    border-radius: 10px;
}

.nav-link img {
    padding-right: 11px;
    padding-bottom: 5px;
}

.fon-slider {
    background-image: url(../img/slider-fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.fon-404 {
    background-image: url(../img/fon-404.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    height: 100vh;
}

.slider {
    padding-top: 30px;
}

.slider h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 117px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: -webkit-linear-gradient(#fff, #f4f7f8, #b9e0f6);
    -webkit-background-clip: text;
}

.slider h1:before {
    content: "";
    background: -webkit-linear-gradient(138.15deg, #30B4FF 16.01%, #3051FF 84.51%);
    box-shadow: 0px 0px 20px rgba(48, 180, 255, 0.6);
    display: block;
    height: 175px;
    width: 4px;
    position: absolute;
    top: 30px;
    left: 0px;
    margin-right: 30px;
}

.prisoyedinyaysya {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    color: #FFFFFF;
    transform: rotate(-25.33deg);
    position: absolute;
    left: 75%;
    right: 0%;
    top: 30%;
    bottom: 0%;
    width: 382px;
    text-align: center;
}

.blog-nachat-igru {
    width: 100%;
    position: absolute;

}

.start-game-button {
    background: linear-gradient(138.15deg, #30B4FF 16.01%, #3051FF 84.51%);
    box-shadow: 0px 10px 50px rgba(48, 180, 255, 0.5);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 20px 0px;
    clip-path: polygon(100% 0, 100% 58%, 93% 100%, 0% 100%, 0 42%, 7% 0);
}

.prisoyedinyaysya-knopka {
    background: linear-gradient(95.26deg, rgba(48, 180, 255, 0) 8.45%, #30ABFF 28.41%, #3051FF 112.03%);
    box-shadow: 0px 0px 70px rgba(48, 180, 255, 0.5);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    transform: skewX(-30deg);
}

.user-online p img {
    padding-right: 12px;
}

.chislo {
    display: inline-block;
    border: 1px solid;
    border-image: linear-gradient(138.15deg, #30B4FF 16.01%, #3051FF 84.51%);
    border-image-slice: 1;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #30B4FF;
    padding: 0px 5px;
    margin: 0px 1px;
}

.text-knopka {
    transform: skewX(30deg);
}

.but-sotsseti {
    background: #FFFFFF;
    box-shadow: 0px 0px 70px rgba(44, 165, 254, 0.6);
    padding: 20px 0px 19px 24px;
}

.but-sotsseti p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3251A3;
    display: inline-block;
}

.but-sotsseti img {
    padding-right: 25px;
}

.kak-nachat-igru h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 55px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-transform: none;
}

.liniy2 {
    content: "";
    background: -webkit-linear-gradient(138.15deg, #30B4FF 16.01%, #3051FF 84.51%);
    box-shadow: 0px 0px 20px rgba(48, 180, 255, 0.6);
    display: block;
    height: 125px;
    width: 4px;
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: 30px;
}

.liniy3 {
    content: "";
    background: -webkit-linear-gradient(138.15deg, #30B4FF 16.01%, #3051FF 84.51%);
    box-shadow: 0px 0px 20px rgba(48, 180, 255, 0.6);
    display: block;
    height: 82px;
    width: 4px;
    position: relative;
    top: -15px;
    left: 0px;
    margin-right: 30px;
}

.kak-nachat-igru .stil {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 55px;
    display: flex;
    align-items: center;
    color: #2CA5FE;
    padding-left: 15px;
}

.shag {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.shag-opisanie {
    border: 1px solid;
    border-image: linear-gradient(138.15deg, #30B4FF 16.01%, #3051FF 84.51%);
    border-image-slice: 1;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #2CA5FE;
    padding: 15px 0px 16px 36px;
}

.voprosy {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-bottom: 18px;
}

.btn-video {
    background: linear-gradient(138.15deg, #30B4FF 16.01%, #3051FF 84.51%);
    box-shadow: 0px 0px 70px rgba(48, 180, 255, 0.5);
    padding: 8px 0px 8px 24px;
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transform: rotate(-5deg);
}

.btn-video span {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
}

.btn-video img {
    padding-right: 20px;
}

.col-romb {
    flex: 0 0 20%;
    max-width: 20%;
    position: relative;
    width: 100%;
    padding-top: 90px;
}

.col-fon-romb img {
    position: absolute;
    margin-top: -30px;
    left: 14%;
}

.personasch img {
    position: absolute;
    margin-top: -215px;
    margin-left: 55px;
}

.img-chto-novogo {
    position: absolute;
    left: 0;
    z-index: -999;
    width: 64%;
}

.img-chto-novogo-2 {
    position: absolute;
    right: 0;
    z-index: -999;
    width: 47%;
}

.bg-group {
    position: relative;
    top: 126px;
    left: 185px;
    background: url(../img/bg-group.png);
}

.bg-group-personasch {
    position: relative;
    top: -118px;
    left: -530px;
    background: url(../img/bg-group-personasch.png);
}

.bg-name-user-2 {
    background: #3075FF;
    box-shadow: 0px 0px 40px rgba(44, 165, 254, 0.5);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.bg-name-user-2 p {
    position: absolute;
}

.position-podloschka {
    width: 425px;
    position: absolute;
    left: 5%;
    top: 25px;
}

.name-user {
    width: 425px;
    position: absolute;
    padding-bottom: 45px;
    padding-top: 12px;
    left: 35%;
    top: 37px;
}

.podloschka {
    position: absolute;
}

.btn-modal {
    width: 100%;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding: 25px 0px !important;
}

.form-control {
    background-color: rgba(44, 165, 254, 0.2) !important;
    backdrop-filter: blur(50px) !important;
    border: none !important;
    padding: 17px 47px !important;
}

.form-control:focus {
    color: #fff !important;
    border: 1px solid #fff !important;
}

.btn:hover {
    color: #fff;
}

.modal-chel {
    position: absolute;
    bottom: -65px;
    right: -220px;
}

.modal-prokachay h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #30B4FF;
    text-transform: none;
    padding-left: 39px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.modal-prokachay h2 span {
    color: #fff;
}

.modal-vhod h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #fff;
    text-transform: none;
    padding-left: 39px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.modal-reset h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 20px;
    text-transform: none;
}

.md-form .modal-reset p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.modal-reset img {
    padding-bottom: 30px;
}

.modal-news h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    text-transform: none;
    padding-bottom: 20px;
}

.modal-news p.calendar {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 16px;
    float: right;
}

.text-news p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding-bottom: 15px;
}

.modal-liniy {
    content: "";
    background: -webkit-linear-gradient(138.15deg, #30B4FF 16.01%, #3051FF 84.51%);
    box-shadow: 0px 0px 20px rgba(48, 180, 255, 0.6);
    display: block;
    height: 125px;
    width: 4px;
    position: absolute;
    top: 58px;
    left: 0px;
    margin-right: 30px;
}

.modal-liniy-vhod {
    content: "";
    background: -webkit-linear-gradient(138.15deg, #30B4FF 16.01%, #3051FF 84.51%);
    box-shadow: 0px 0px 20px rgba(48, 180, 255, 0.6);
    display: block;
    height: 70px;
    width: 4px;
    position: absolute;
    top: 58px;
    left: 0px;
    margin-right: 30px;
}

.modal-liniy-reset {
    content: "";
    background: -webkit-linear-gradient(138.15deg, #30B4FF 16.01%, #3051FF 84.51%);
    box-shadow: 0px 0px 20px rgba(48, 180, 255, 0.6);
    display: block;
    height: 71px;
    width: 4px;
    position: absolute;
    top: 61px;
    left: 0px;
    margin-right: 30px;
}

.input-user {
    position: relative;
}

.input-user:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 7px;
    left: 25px;
    margin: auto 0;
    width: 16px;
    height: 16px;
    background: url('../img/modal-input-user.svg') no-repeat;
    background-size: cover;
    z-index: 999;
}

.input-user:focus:before {
    background: url('../img/modal-input-user-focus.svg') no-repeat;
}

.input-mail {
    position: relative;
}

.input-mail:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 7px;
    left: 25px;
    margin: auto 0;
    width: 16px;
    height: 16px;
    background: url('../img/modal-input-mail.svg') no-repeat;
    background-size: cover;
    z-index: 999;
}

.input-money {
    position: relative;
}

.input-money:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 7px;
    left: 25px;
    margin: auto 0;
    width: 17px;
    height: 16px;
    background: url('../img/modal-input-money.svg') no-repeat;
    background-size: cover;
    z-index: 999;
}

.input-pass {
    position: relative;
}

.input-pass:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 7px;
    left: 25px;
    margin: auto 0;
    width: 14px;
    height: 14px;
    background: url('../img/modal-input-pass.svg') no-repeat;
    background-size: cover;
    z-index: 999;
}

.fon-chel-modal {
    display: none;
}

.modal-romb {
    position: absolute;
    left: 0;
    top: 20px;
}

.romb-zagolovok-mobile,
.romb-zagolovok-mobile-2 {
    display: none;
}

.romb-vhod-2 {
    display: block;
    position: absolute;
    top: 80px;
    left: -10px;
}

.romb-vhod {
    display: block;
    position: absolute;
    top: 0px;
    left: 50px
}

.zabily-parol p {
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 14px !important;
    text-align: center !important;
    color: #FFFFFF !important;
    padding-bottom: 30px !important;
}

.zabily-parol p a {
    color: #30B4FF;
    text-decoration-line: underline;
}

.romb-news {
    position: absolute;
    left: 0;
    top: -70px;
    z-index: 0;
}

.romb-news-2 {
    position: absolute;
    left: 50%;
    top: -90px;
}

.modal-header .close {
    z-index: 999;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 44px !important;
    height: 44px !important;
}

.carousel-control-prev {
    left: 65% !important;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 1 !important;
}

.download-launcher {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.exit-mobile {
    display: none;
}

.icon-user-vhod {
    display: none;
}

.menu {
    display: none;
}

.img404 {
    padding-top: 110px;
    padding-bottom: 25px;
}

.stranica404 p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 76px;
    line-height: 115px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 0px 0px 70px rgba(44, 165, 254, 0.6);
}

.btn-404 {
    background: linear-gradient(138.15deg, #30B4FF 16.01%, #3051FF 84.51%);
    box-shadow: 0px 10px 50px rgba(48, 180, 255, 0.5);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 20px 0px;
    width: 41%;
    left: 29%;
    position: inherit;
    clip-path: polygon(100% 0, 100% 58%, 93% 100%, 0% 100%, 0 42%, 7% 0);
}

.btn-404 a {
    color: #fff;
}

.btn-404 a:hover {
    color: #fff;
}

.news-img {
    position: absolute;
    min-height: 100%;
    padding-right: 20px;
}

.bg-news-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: rotateY(45deg);
    z-index: -1;
}

.carousel-item {
    position: relative;
}

.bg-slider {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    height: 370px;
    background-size: cover;
    z-index: -1;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 30%, 100% 87%, 0 100%);
}

.news-title h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.list-news .news-text p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
    padding: 30px 0;
}

.list-news p.calendar {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.7);
    float: right;
}

p.col-like {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.nextnews a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #30B4FF;
}

.list-news .carousel-control-next {
    right: 15% !important;
}

.list-news .carousel-control-prev {
    left: 64% !important;
}

.bg-news-right {
    position: relative;
    background-position: right 30%;
}

#carouselExampleControls2 {
    margin-left: -15px;
}

.bg-news-2 {
    padding-top: 25px;
}

.bg-news-2 .modal-body {
    padding: 120px 0 91px;
}

.news-img-bg {
    position: absolute;
    -webkit-clip-path: polygon(0 0, 100% 24%, 100% 89%, 0 100%);
    clip-path: polygon(0 0, 100% 24%, 100% 89%, 0 100%);
}

.personasch-news {
    position: absolute;
    top: 55px;
    right: 8%;
}

.fon-news-srava {
    position: absolute;
    top: 0;
    right: 0px;
    width: 48%;
    height: max-content;
}

.footer-porydok-glavnay {
    padding: 80px 0px 100px;
}

.element-slider-z-index {
    z-index: -999;
}

.romb-chto-novogo {
    position: absolute;
    top: 0;
    right: 33%;
}

.kak-nachat-igru-pt {
    padding-top: 90px;
}

.zagolovok h1 span {
    font-size: 48px;
    line-height: 59px;
    background: -webkit-linear-gradient(#30B4FF, #3051FF, #3051FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

.text-na-glavnoy {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    text-transform: uppercase;
}

.play {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    text-transform: uppercase;
    padding-left: 0.6875rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

.play span {
    font-weight: 300;
    font-size: 0.625rem;
    line-height: 0.75rem;
    display: block;
}

.mask-personash {
    position: absolute;
    top: 15%;
    opacity: 0.2;
    z-index: 1;
    left: 50%;
}

.opacity {
    position: absolute;
    top: 20%;
    opacity: 1;
    z-index: 2;
    left: 50%;
}

.img-personash {
    position: absolute;
    top: 15%;
    left: 50%;
    z-index: 3;
}

.btn-knopka {
    background: linear-gradient(180deg, #FFB800 0%, #FF6B00 100%);
    box-shadow: 0px 0px 13px #FF9F01;
    border-radius: 10px;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    text-transform: uppercase;
    padding: 0.9375rem 3.625rem;
}

.btn-skachat {
    width: 100%;
    padding: 0.9375rem 0px;
}

.icon-socsety {
    position: absolute;
    right: 0;
}

.icon-socsety a {
    display: block;
    padding-bottom: 1.875rem;
}

.posmotret-video {
    padding: 25px 32px;
    background: rgba(34, 101, 173, 0.2);
    backdrop-filter: blur(50px);
    border-radius: 10px;
}

.liniy {
    background: linear-gradient(90deg, #2E64F7 0%, #2CA1FE 100%);
    padding-bottom: 2px;
    margin-bottom: 42px;
}

.img-text {
    display: flex;
    position: relative;
    margin-bottom: 30px;
}

.img-text img {
    position: absolute;
    top: 0;
}

.img-text h3 {
    margin-left: 11%;
}

.border-text {
    border-left: 1px solid #fff;
}

.border-text p {
    padding-left: 9px;
}

.form-control {
    background: rgba(9, 29, 61, 0.7);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    border-left: 0px;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6D829B;
}

.form-group {
    margin-bottom: 1.875rem;
}

.input-pl-20 {
    padding-left: 1.25rem !important;
}

.btn-mlt {
    margin-left: 0px;
    margin-top: 2.5rem;
}

.input-group-text {
    background: rgba(9, 29, 61, 0.7);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    border-right: 0px;
}

.bg-kolco {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    width: 12%;
    float: left;
}

.knopka-stata {
    position: relative;
    height: 50px;
    margin-bottom: 17px;
    border-radius: 10px;
}

.knopka-stata a {
    position: absolute;
    top: 50%;
    /*transform: translateY(-50%);*/
    left: 15%;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
}

.knopka-stata a img {
    padding-right: 10px;
}

.knopka-stata:hover {
    background: #3075ff;
    transform: skewX(-15deg);
    border-radius: 0px;
}

.knopka-stata:hover a {
    color: #fff;
    text-decoration-line: none;
    transform: skew(15deg);
}

.bg-stata {
    background: rgba(34, 101, 173, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    height: 90px;
    margin-top: 85px;
}

.bg {
    background-image: url(../img/kolco.svg);
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
    position: inherit;
    padding-bottom: 20px;
    text-align: center;
}

.bg-kolco {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    width: 12%;
    float: left;
    top: 60%;
    transform: translateY(-50%);
}

.bg-kolco p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

.svoistva p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
}

.border-gradient1 {
    border: 1px solid transparent;
    border-image: linear-gradient(#30B4FF, #77CEFF);
    -moz-border-image: -moz-linear-gradient(#30B4FF, #77CEFF);
    -webkit-border-image: -webkit-linear-gradient(#30B4FF, #77CEFF);
    border-image-slice: 1;
    align-items: center;
    height: 85px;
    border-radius: 10px;
}

.zag-finansy {
    position: relative;
    display: block;
    top: 11.5%;
    width: 15%;
    z-index: 2;
    background: #001e36;
    color: #2CA5FE;
    padding: 0px 0px 0px 15px;
}

.bg-name-user {
    margin-top: 70px;
    background: rgba(34, 101, 173, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 10px;
}

.bg-name-user h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 20px;
}

.donat-btn {
    background: linear-gradient(138.15deg, #30B4FF 16.01%, #3051FF 84.51%);
    box-shadow: 0px 10px 50px rgba(48, 180, 255, 0.5);
    font-style: normal;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 0px;
    width: 100%;
    border: none;
    clip-path: polygon(100% 0, 100% 58%, 93% 100%, 0% 100%, 0 42%, 7% 0);
}

input[type='radio'],
label {
    cursor: pointer;
}

input[type='radio'] {
    position: relative;
    height: 10px;
    width: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

input[type='radio']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #091D3D;
    border: 1px solid white;
}

input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #091D3D;
    transform: translate(-50%, -50%);
    visibility: visible;
}

.offlain {
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 6px;
}

.data {
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #6D829B;
}

.warning {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding-top: 20px;
}

.uroven {
    position: absolute;
    float: right;
    right: 36%;
    bottom: 86%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.next-uroven {
    position: absolute;
    float: right;
    right: 11%;
    bottom: 50%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.2);
}

.chelovek {
    position: absolute;
    z-index: 1;
    left: -95px;
    bottom: -223px;
}

.slider-romb {
    position: absolute;
    right: -30px;
    bottom: 0px;
}

.col-uroven {
    padding: 37px 0px 36px;
}

.uroven-5 {
    position: absolute;
    float: right;
    right: 11%;
    bottom: 75%;
}

.romb-uroven {
    position: absolute;
    right: 10px;
    top: 10px;
}

.romb-stata {
    position: absolute;
    left: -85px;
    top: -40px;
}

.reset-pass {
    position: absolute;
    left: -225px;
    top: 35px;
}

.romb-harakteristika {
    position: absolute;
    right: 4%;
    top: 0;
    padding-top: 310px;
}

.romb-finansy {
    position: absolute;
    right: 7%;
    padding-top: 365px;
}

.left-ugol-ellipse {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.plitka {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #6D829B;
}

.plitka.active {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: transparent;
}

.fon-news {
    background: url(../img/fon-news.jpg);
    margin-bottom: 40px;
}

.blog-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.blog-center h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.blog-center p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.blog-center p.calendar {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6D829B;
}

.calendar img {
    padding-right: 8px;
}

.modal-dialog .modal-content {
    background: #001E36;
}

.modal-body {
    padding-top: 0px;
}

.md-form {
    margin-right: 32px;
    margin-left: 0px;
}

.modal-img {
    margin-top: 0px;
}

.knopka-close {
    position: absolute;
    right: 0%;
    border: none;
    color: #fff;
}

.close {
    float: right;
    font-size: 4rem;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
}

.md-form p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.footer {
    padding-top: 100px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
}

.prava p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.dogovor-oferty p a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

#carouselExampleControls {
    margin-top: -120px;
}

.pr-8 {
    padding-right: 8px;
    padding-bottom: 3px;
}

.fw-700 {
    font-weight: 700;
}

.pt-110 {
    padding-top: 110px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-22 {
    padding-top: 1.375rem;
}

.pt-50 {
    padding-top: 3.125rem;
}

.pt-60 {
    padding-top: 60px;
}

.pt-30 {
    padding-top: 1.875rem;
}

.pt-40 {
    padding-top: 2.5rem;
}

.mb-30 {
    margin-bottom: 30px;
}

.pt-45 {
    padding-top: 45px;
}

.mt-45 {
    margin-top: 45px;
}

.pb-95 {
    padding-bottom: 95px;
}

.pb-50 {
    padding-bottom: 50px;
}

.ptb-50 {
    padding: 50px 0;
}

.pt-160 {
    padding-top: 160px;
}

@media (max-width: 1500px) {
    .col-fon-romb img {
        margin-top: -50px;
        left: 3%;
    }

    .personasch img {
        margin-left: -20px;
    }

    .personasch-news {
        right: 0;
    }

    .prisoyedinyaysya {
        left: 66%;
        top: 47%;
    }

    .list-news .news-text p {
        width: 83%;
    }

    .list-news .carousel-control-prev {
        left: 60% !important;
    }

    .list-news .carousel-control-next {
        right: 17% !important;
    }

    .list-news p.calendar {
        padding-right: 15px;
    }
}

@media (max-width: 1200px) {
    .slider h1 {
        padding-left: 15px;
        font-size: 64px;
        line-height: 80px;
    }

    .slider h1:before {
        top: 10px;
        margin-left: 15px;
        height: 140px;
    }

    .prisoyedinyaysya {
        font-size: 20px;
        line-height: 35px;
        left: 59%;
        width: 265px;
    }

    .but-sotsseti {
        padding: 20px 10px;
    }

    .but-sotsseti img {
        padding-right: 5px;
    }

    .col-fon-romb img {
        margin-top: -20px;
        left: 0%;
        width: 28%;
    }

    .personasch img {
        width: 60%;
        margin-left: -150px;
        margin-top: -195px;
    }

    .zag-finansy {
        top: 11%;
        width: 15%;
        padding: 0px 0px 0px 10px;
    }

    .romb-harakteristika {
        display: none;
    }

    .romb-finansy {
        display: none;
    }

    .romb-stata {
        display: none;
    }

    .reset-pass {
        display: none;
    }

    .uroven {
        right: 41%;
    }

    .knopka-stata a {
        left: 0;
    }

    .btn-video {
        width: 120%;
    }

    .logo-gl {
        padding-top: 30px;
        width: 150px;
        height: auto;
    }

    .stranica404 p {
        font-size: 66px;
    }

    .personasch-news {
        display: none;
    }

    .fon-news-srava {
        display: none;
    }

    .news-img-bg {
        -webkit-clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        height: fit-content;
    }

    #carouselExampleControls2 {
        margin-right: -15px;
    }

    .bg-news-2 .modal-body {
        padding: 90px 0 90px;
    }

    .list-news .news-text p {
        width: 100%;
    }

    .list-news .carousel-control-prev {
        left: 62% !important;
    }

    .list-news .carousel-control-next {
        right: 15% !important;
    }

    .list-news p.calendar {
        padding-right: 0px;
    }

    .romb-chto-novogo {
        top: -85px;
        right: 33%;
    }

    .mobile{
        line-height: 20px;
        top: 100px;
        right: 43%;
    }
}

@media (max-width: 992px) {
    .slider h1:before {
        height: 90px;
        top: 12px;
    }

    .slider h1 {
        font-size: 48px;
        line-height: 57px;
    }

    .but-sotsseti {
        padding: 20px 0px 20px 0px;
        text-align: center;
    }

    .but-sotsseti p {
        display: none;
    }

    .but-sotsseti img {
        padding-right: 0px;
    }

    .prisoyedinyaysya {
        font-size: 20px;
        line-height: 35px;
        left: 53%;
        width: 287px;
    }

    .kak-nachat-igru h2 {
        font-size: 36px;
        line-height: 40px;
    }

    .kak-nachat-igru .stil {
        font-size: 36px;
        line-height: 40px;
    }

    .liniy2 {
        height: 90px;
    }

    .shag {
        font-size: 24px;
        line-height: 30px;
    }

    .pb-50 {
        padding-bottom: 35px;
    }

    .shag-opisanie {
        font-size: 18px;
        line-height: 22px;
    }

    .ptb-50 {
        padding: 35px 0;
    }

    .voprosy {
        font-size: 18px;
        line-height: 22px;
        padding-top: 20px;
    }

    .btn-video {
        padding: 8px 0px 8px 5px;
        font-size: 14px;
        line-height: 17px;
    }

    .personasch img {
        width: 55%;
        margin-top: -170px;
        left: 15%;
    }

    .zag-finansy {
        top: 9.8%;
        width: 20%;
    }

    .col-uroven {
        padding-right: 13px;
    }

    .data {
        float: right;
    }

    .uroven-5 {
        right: 13px;
        bottom: 30%;
    }

    .next-uroven {
        right: 13px;
        bottom: 5%;
    }

    .uroven {
        right: 42%;
        bottom: 40%;
    }

    .svoistva {
        margin-top: 20px;
    }

    .fon-chel-modal {
        display: block;
        position: absolute;
        right: -50px;
        bottom: -75px;
        width: 83%;
    }

    .romb-zagolovok-mobile {
        display: block;
        position: absolute;
        top: 58px;
        left: 40px;
    }

    .romb-zagolovok-mobile-2 {
        display: block;
        position: absolute;
        top: -10px;
        left: 50px;
    }

    .logo-mobile {
        text-align: center;
    }

    .exit-mobile {
        display: block;
        position: absolute;
        top: 35px;
        right: 15px;
    }

    .icon-user-vhod {
        display: block;
        position: absolute;
        top: 45px;
        right: 15px;
    }

    .menu {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9999;
        width: 90%;
        height: 100vh;
        display: flex;
        justify-content: center;
        background-color: #001E36;
        transition: 0.5s;
        transform: translateX(-100%);
    }

    .menu_active {
        transform: translateX(0%);
        position: fixed;
    }

    .menu-list {
        display: flex;
        justify-content: end;
        align-items: baseline;
        flex-direction: column;
    }

    .menu-list a {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        padding-bottom: 30px;
    }

    .menu-list a.logo-mobile {
        padding-bottom: 20px;
    }

    .menu-list a.icon-mobile img {
        padding-right: 15px;
    }

    .menu-btn {
        width: 30px;
        height: 30px;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        right: -40px;
        top: 40px;
    }

    .menu_active .menu-btn {
        right: 0px;
        top: 17px;
    }

    .menu-btn span, .menu-btn span::before, .menu-btn span::after {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 0;
        margin-left: 0px;
        width: 37px;
        height: 2px;
        background-color: #fff;
    }

    .menu-btn span::before, .menu-btn span::after {
        content: '';
        display: block;
        transition: 0.5s;
    }

    .menu-btn span::before {
        transform: translateY(-10px);
    }

    .menu-btn span::after {
        transform: translateY(10px);
    }

    .menu_active span {
        height: 0px;
    }

    .menu_active span::before, .menu_active span::after {
        transform: rotate(45deg);
        background-color: #fff;
    }

    .menu_active span::after {
        transform: rotate(-45deg);
    }

    .icon-mobile {
        display: inline-block;
    }

    .modal {
        z-index: 9999;
    }

    .right-verh {
        position: absolute;
        top: 20px;
        left: 0;
    }

    .left-center {
        position: absolute;
        top: 120px;
        right: 0;
    }

    .right-niz {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .menu-ellipse {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .stranica404 p {
        font-size: 48px;
    }

    .btn-404 {
        left: 0%;
        width: 100%;
    }

    .list-news .carousel-control-prev {
        left: 62% !important;
    }

    #carouselExampleControls {
        margin-top: -50px;
    }

    #carouselExampleControls {
        margin-top: -10px;
    }

    .slider {
        padding-top: 30px;
    }

    .mobile{
        line-height: 20px;
        top: 68px;
        right: 45%;
        padding: 5px 10px;
    }
}

@media (min-width: 768px) {
    .news-img {
        object-fit: cover;
        width: 283px;
        height: 272px;
    }
}

@media (max-width: 767px) {
    .col-romb {
        display: none;
    }

    .porydok {
        display: flex;
        flex-flow: wrap;
        text-align: center;
    }

    .col1 {
        order: 1;
    }

    .col2 {
        order: 0;
        text-align: left;
        padding-bottom: 40px;
    }

    .porydok2 {
        display: flex;
        flex-flow: wrap;
        text-align: center;
        justify-content: flex-end !important;
    }

    .col21 {
        order: 1;
    }

    .col22 {
        order: 2;
    }

    .col23 {
        order: 3;
    }

    .col24 {
        order: 0;
    }

    .footer-porydok {
        display: flex;
        flex-wrap: wrap;
    }

    .prava {
        order: 1;
    }

    .dogovor-oferty {
        order: 0;
    }

    .footer-porydok-glavnay {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0;
    }

    .footer-col0 {
        order: 0;
    }

    .footer-col1 {
        order: 1;
    }

    .footer-col2 {
        order: 2;
        padding-top: 25px;
    }

    .prisoyedinyaysya {
        font-size: 16px;
        line-height: 30px;
        left: 60%;
        top: 145%;
        width: 175px;
    }

    .start-game-button {
        font-size: 18px;
        line-height: 21px;
    }

    .kak-nachat-igru h2 {
        font-size: 24px;
        line-height: 28px;
    }

    .kak-nachat-igru .stil {
        font-size: 24px;
        line-height: 28px;
    }

    .liniy2 {
        height: 64px;
    }

    .shag {
        padding-left: 33px;
        font-size: 18px;
        line-height: 22px;
    }

    .shag-opisanie {
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        margin-top: 25px;
    }

    .pb-50 {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .voprosy {
        font-size: 20px;
        line-height: 24px;
        width: 50%;
        text-align: left;
        padding-top: 80px !important;
    }

    .col-fon-romb {
        display: none;
    }

    .personasch img {
        width: 450px;
        margin-top: 70px;
        left: 10%;
    }

    .ptb-50 {
        padding-top: 0px;
        padding-bottom: 15px;
    }

    .chelovek {
        display: none;
    }

    .bg-kolco {
        width: 25%;
        top: 35%;
    }

    .bg-stata {
        height: 200px;
    }

    .navbar-brand {
        width: 120px;
        height: auto;
    }

    .col-uroven {
        padding: 18px 13px 18px 6%;
    }

    .data {
        float: right;
    }

    .uroven {
        right: 39%;
        bottom: 40%;
    }

    .uroven-5 {
        right: 13px;
        bottom: 30%;
    }

    .next-uroven {
        right: 15px;
        bottom: 8%;
    }

    .zag-finansy {
        top: 4.8%;
        width: 18%;
    }

    .footer {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .footer img {
        display: none;
    }

    .prava {
        text-align: center;
    }

    .prava p {
        display: inline-block;
    }

    .dogovor-oferty {
        text-align: center !important;
    }

    .knopka-stata a {
        text-align: center;
    }

    .block-porydok {
        display: flex;
        flex-flow: wrap;
    }

    .position-podloschka {
        width: 80%;
        left: 6%;
        top: 21px;

    }

    .name-user {
        width: 95%;
        left: 2%;
        padding-top: 8px;
        top: 250px;
    }

    .d-none-mobile {
        display: none;
    }

    .bg-name-user {
        margin-top: 86px;
    }

    .bg-stata {
        margin-top: 30px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .download-launcher {
        position: relative;
    }

    .pt-50 {
        padding-top: 30px;
    }

    .pt-30 {
        padding-top: 20px;
    }

    .mt-45 {
        margin-top: 30px;
    }

    .btn-video {
        width: 100%;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 30px !important;
        height: 30px !important;
    }

    .carousel-control-prev, .carousel-control-next {
        top: -50px;
    }

    .exit-mobile {
        top: 21px;
    }

    .icon-user-vhod {
        top: 21px;
    }

    .menu-btn span, .menu-btn span::before, .menu-btn span::after {
        left: 0;
        width: 30px;
    }

    .menu-btn {
        top: 21px;
    }

    .logo-gl {
        padding-top: 15px;
    }

    .stranica404 p {
        font-size: 36px;
    }

    .news-img {
        position: relative;
    }

    .news-title {
        position: relative;
        left: 0px;
        padding: 15px 75px 15px 15px;
    }

    .liniy3 {
        height: 55px;
        margin-right: 15px;
    }

    .mobile-otstup {
        margin-right: -70px;
    }

    .list-news .carousel-control-prev {
        left: 70% !important;
    }

    .list-news .carousel-control-next {
        right: 0 !important;
    }

    .bg-news-2 .modal-body {
        padding: 0px;
    }

    .kak-nachat-igru-pt {
        padding-top: 0px;
    }

    .pt-160 {
        padding-top: 145px;
    }

    .romb-chto-novogo {
        right: 0;
    }

    #carouselExampleControls {
        margin-top: -10px;
    }
    .mobile{
        line-height: 12px;
        top: 68px;
        right: 27%;
        padding: 5px 10px;
    }
}

@media (max-width: 576px) {
    .voprosy {
        margin-left: 50%;
    }

    .btn-video img {
        padding-right: 0px;
    }

    .warning {
        padding-top: 0px;
    }

    .uroven {
        float: left;
        left: 4%;
        bottom: -125%;
    }

    .uroven-5 {
        float: left;
        left: 4%;
        bottom: -130%;
        max-width: 275px;
    }

    .next-uroven {
        display: none;
    }

    .zag-finansy {
        top: 4%;
        width: 22%;
    }

    .border-gradient1 {
        height: 160px;
    }

    .fon-chel-modal {
        right: -49px;
        bottom: -75px;
    }

    .modal-news h2 {
        font-size: 18px;
        line-height: 22px;
    }

    .text-news p {
        font-size: 12px;
        line-height: 16px;
    }

    .news-porydok {
        display: flex;
        flex-wrap: wrap;
    }

    .news-col1 {
        order: 0;
    }

    .news-col2 {
        order: 1;
    }

    .modal-news p.calendar {
        float: left;
    }

    .btn-video {
        width: 85%;
        float: right;
        margin-top: 50px;
    }

    .btn-video {
        width: none;
    }

    .stranica404 p {
        font-size: 26px;
    }

    .news-img {
        min-height: auto;
    }

    .liniy3 {
        height: 45px;
        margin-right: 15px;
        top: -10px;
    }

    .news-title h2 {
        font-size: 18px;
        line-height: 22px;
    }

    .list-news .news-text p {
        font-size: 14px;
        line-height: 16px;
        padding: 20px 0;
    }

    .col-uroven {
        padding: 18px 13px 64px 6%;
    }
    .mobile {
        right: 5%;
    }
}

@media (max-width: 440px) {
    .slider h1:before {
        height: 55px;
        top: 0px;
    }

    .slider h1 {
        font-size: 25px;
        line-height: 30px;
    }

    .prisoyedinyaysya {
        left: 55%;
        top: 180%;
        font-size: 11px;
        line-height: 18px;
        width: 120px;
    }

    .user-online p {
        font-size: 14px;
        line-height: 17px;
    }

    .chislo {
        font-size: 20px;
        line-height: 24px;
    }

    .start-game-button {
        padding: 12px 0px;
    }

    .voprosy {
        padding-top: 60px;
    }

    .zag-finansy {
        width: 33%;
    }

    .name-user {
        width: 100%;
        padding-top: 8px;
    }

    .position-podloschka {
        top: 15px;
    }

    .modal-prokachay h2 {
        font-size: 24px;
        line-height: 29px;
        padding-left: 35px;
    }

    .modal-liniy {
        height: 53px;
        top: 62px;
    }

    .btn-video {
        width: 100%;
    }

    .stranica404 p {
        font-size: 18px;
    }

    .btn-404 {
        font-size: 18px;
    }
    .mobile{
        font-size: 10px;
        line-height: 12px;
        top: 35px;
        right: 37%;
        padding: 1px 5px;
    }
    .mobile img{
        width: 25%;
    }
}
@media (max-width: 374px){
    .mobile{
        right: 20%;
    }
}